	<div class="product-grid container">
<article class="product-card">
					<div class="image-wrap">
						<img [src]="product?.image" [alt]="product?.title" />
						<span class="category">{{ product?.category }}</span>
					</div>
					<div class="product-info" >
						<h3>{{ product?.title }}</h3>
						<p>{{ product?.description }}</p>	
						<p class="price">${{ product?.price}}</p>
						<button type="button" [disabled]="product?.quantity === 0">
							{{ product?.quantity === 0 ? 'Sold out' : 'Add to cart' }} <span aria-hidden="true">+</span>
						</button>
					</div>
				</article>
                </div>