<div class="modal-backdrop">

  <div class="product-modal">

    <div class="modal-header">

      <h2>Add New Product</h2>

      <button
        type="button"
        class="close-btn"
        (click)="close.emit()">
        ×
      </button>

    </div>

    <form [formGroup]="addProductGroup" (ngSubmit)="submit()" #productForm="ngForm">

      <div class="form-group">

        <label>Product Name</label>

        <input
          type="text"
          formControlName="title"
          required
          formControlName="title"
        >
        @if(addProductGroup.get('title')?.invalid && addProductGroup.get('title')?.touched) {
          @if (addProductGroup.get('title')?.errors?.['required']) {
            <p class="text-danger">Title is required.</p>
          }
          @if (addProductGroup.get('title')?.errors?.['minlength']) {
            <p class="text-danger">Title must be at least 3 characters long.</p>
          }
        }
      </div>

      <div class="form-group">

        <label>Description</label>

        <textarea
          name="description"
          formControlName="description">
        </textarea>

      </div>

      <div class="form-group">

        <label>Price</label>

        <input
          type="number"
            formControlName="price"
          name="price"
          required
           formControlName="price"
        >
    
      </div>

      <div class="form-group">

        <label>Quantity</label>

        <input
          type="number"
          [(ngModel)]="product.quantity"
          name="quantity"
          required
          formControlName="quantity"
        >

      </div>

      <div class="modal-actions">

        <button
          type="button"
          (click)="close.emit()">
          Cancel
        </button>

        <button type="submit" [disabled]="addProductGroup.invalid">
          Add Product
        </button>

      </div>

    </form>

  </div>

</div>