<div class="products-container">
  <div class="table-header">
    <div>
      <h2>Products</h2>
      <p>Manage your products</p>
    </div>

    <button class="add-btn" (click)="openAddProductModal()">+ Add Product</button>
  </div>

  <div class="table-wrapper">
    <table class="products-table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Product</th>
          <th>Category</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        @for (product of products(); track product.id) {
          <tr>
            <td>
              <img
                class="product-image"
                [src]="product.image"
                [alt]="product.title"
              />
            </td>

            <td>
              <span class="product-title">
                {{ product.title }}
              </span>
            </td>

            <td>
              <span class="category">
                {{ product.category }}
              </span>
            </td>

            <td>
              <span class="price">
                ${{ product.price }}
              </span>
            </td>

            <td>
              <span
                class="quantity"
                [class.low-stock]="product.quantity < 5"
              >
                {{ product.quantity }}
              </span>
            </td>

            <td>
              <span class="description">
                {{ product.description }}
              </span>
            </td>

            <td>
              <div class="actions">
                <button class="edit-btn">Edit</button>
                <button class="delete-btn" (click)="deleteProduct(product.id.toString())">Delete</button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

    <!-- Modal -->

  @if (showAddProductModal()) {

    <app-add-product-modal
      (close)="closeAddProductModal()"
      (productAdded)="addProduct($event)"
    />

  }
</div>